{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Anatomy Blog</title>
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/github-banner.png" alt=" " style="height:400px;""></a>
					<div class=" single-grid">
						<h4>BASIC GITHUB TUTORIAL</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>March 29, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						

<p>In this post I would like to discuss the process that you go through to use github to set up a <b style=color:black;>repository</b>, clone to your local machine to add files or changes then push the changes to github</p>

<h4>What is git and github?</h4>

<p>GitHub is a code hosting web platform for <b style=color:black;>version control and collaboration</b>. It lets you and others work together on projects from anywhere.</p> 

<p>git is the command line interface that allows you to perform version controlling on your local machine and push changes to a remote repository (i.e. interact with github.com). I have written a previous blog post on references to which tutorials I found most useful <a href="/gittutorial">here</a>. </p>

<h4>Sign up for a github account</h4>

<p>When you go to the website <a href="https://github.com">https://github.com<a/> you should see a signup page as shown below. Sign up for an account and login</p>

<img src="/static/img/blog/github/git-1.png">

<p>When you login you should see a user page. You can add a picture and change settings of your account by clicking the top right image and selecting settings. The user page displays information regarding your <b style=color:black;>code contributions, repositories, starred repositories and followers</b>.</p>

<img src="/static/img/blog/github/git-2.png">

<p>One of the main benefits to using github is to organise your code into repositories. This makes contributing to your code and other peoples code much easier. To set up a new repository select the repository tab then click the green new button. You can then give it a name and select create. This will create a blank repository that you can clone onto your local machine and start to create <b style=color:black;>version controlled code</b>.</p> 

<img src="/static/img/blog/github/git-3.png">

<p>Once you have made your respiratory, next you need to clone it so you can start working on it. To do this you copy the <b style=color:black;>http link</b> that appears in the code section of the repository. Then you follow the instructions below:</p>

<img src="/static/img/blog/github/git-5.png">

<p>The first thing you may want to do is to add files to your repository and start to version control your files. Below you can see that I have added the file <b style=color:black;>empty.txt</b> to the cloned repository. I then run <code>git status</code> and notice that this file is untracked. At this point, Git is aware that you created a new file, but the file is untracked, meaning that git does not see it as part of your repository commits. The next thing I need to do is to track this file so git has a record of its state. Once a file is tracked this will allow you to track file changes.</p>

<img src="/static/img/blog/github/git-6.png">
  
<p>To tell git to add and track your file in the repository you need to run the <code>git add empty.txt</code> command. Then you can run <code>git status</code>, below you can see the output of running this command</p>


<img src="/static/img/blog/github/git-7.png">

<p>You can see from the output in green that the file is ready to be committed. To commit the changes run <code>git commit -m "Insert a message to remind you of the changes that were made"</code>. The <code>-m</code> option stores a <b style=color:black;>commit message</b> in the log. Next, when you run <code>git status</code> you will see that the empty.txt file is no longer ready to be committed and the commit message is empty. </p>

<img src="/static/img/blog/github/git-8.png">
<p>So when you have finished making changes on your <b style=color:black;>local branch</b> (i.e. on you laptop) you now need to push your code to the <b style=color:black;>remote repository</b> (i.e. github). This is achieved by running the command <code>git push</code>. </p>
<img src="/static/img/blog/github/git-9.png">

<p>This completes the first introduction to github, in future posts I intend on writing posts detailing how to contribute to cgat code and also how to use some of git's more advanced tracking features</p> 

						</div>						
											</div>

				</div>	

	
	


{% endblock %}