{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Anatomy Blog</title>
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="" href="/static/css/custom.css"/>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/github-top.png" alt=" " style="height:300px;margin-left:20em;""></a>
					<div class=" single-grid">
						<h4>VERSION CONTROL AND GIT</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>March 21, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						

<p>In CGAT we are encouraged to contribute to lunch and learn sessions where we provide presentations on the 'ways in which we work in CGAT'. At one of these lunch and learn sessions I recently gave a presentation on version control <b style=color:black;>(at the bottom of the page)</b>, specifically git, and thought that it would be useful to share some of the slides and information I shared during the presentation.</p>

<p>Version controlling is of central importance in <b style=color:black;>software development</b>. Any source code, even for small projects, are fairly complex documents. Often multiple persons work on the same code, or the same person might work on different parts of the same code. Without keeping track of changes and versions, any project would soon face collapse. Version control is a system to address these issues by:<p>

<ol style="width:75%;color:grey;margin-left:10%;">
<li>Being able to keep track of multiple versions of a collection documents (source code files).</li>
<li>Merging different versions of a collection of documents.</li>
<li>Keeping a history of all changes in order to reproduce the collection of documents at any point in time.</li>
</ol>

<p>Version control software has been around for a number of years with a number of <b style=color:black;>propriety and open source solutions</b>. Previously popular solutions included CVS, subversion and mercurial. More recently, git has increased in popularity, driven by its ease of use, good support and easy to interact web portal github. This is the system that CGAT currently operate and have found it to be a really intuitive and easy way to share and contribute to CGAT code. </p>

<p>There are a number of really <b style=color:black;>useful resources</b> of information available for learning git and I have included them below in order of preference:</p>

<ol>
	<li><a href="https://try.github.io/levels/1/challenges/1">Try git</a> - This is fantastic interactive introduction to the basic git commands and how to set up local repositories.</li>
	<li><a href="https://guides.github.com/activities/hello-world/">Hello world </a>- This is a really good official resource that takes you through the basics. However because of its lack of interactivity I have placed it in second for order of preference</li>
</ol>

<div  style="margin-left:20em;">
<iframe src='https://onedrive.live.com/embed?cid=8F862309E3DC0D75&resid=8F862309E3DC0D75%21111&authkey=ANUGPjfoBbpI1Ag&em=2&wdAr=1.3333333333333333' width='610px' height='481px' frameborder='0'>This is an embedded <a target='_blank' href='https://office.com'>Microsoft Office</a> presentation, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
</div>
</div>
</div>						
											</div>

				</div>	

	
	


{% endblock %}



