{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Anatomy Blog</title>
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/ipython-top.png" alt=" " style="height:100px;""></a>
					<div class=" single-grid">
						<h4>IPYTHON NOTEBOOK CONFIGURATION</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>April 7, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						
<p>This blog is a continuation of my tutorial on the introduction to <a href="/ipython_notebook">ipython notebook</a>. In this post I will introduce some of the ways in which I set up my ipython environment before writing and executing new code.</p>

<p> One of the nice features of ipython is that you can run small chunks of code quickly, making code testing faster and dynamic. However, writing all of the code to load standard python modules can take a while when initialising a new ipython kernel. To get around this inconvenience I usually have a separate configuration file that contains all of the frequently used modules and then loads them all together when the ipython notebook shell is ran.</p> 

<p>I call this file <code>configuration.config.ipy</code> and it sits in the directory where I run the ipython notebook. </p>

<p>The file contains all of the most frequent python, R libraries, environment configuration and links to databases. An example file can be found below:

<div class="highlighter-rouge"><pre class="highlight"><code>######################## load notebook magics #################################

%load_ext rpy2.ipython

###################### allow matplotlib inline ################################

%%matplotlib inline

######################## load python libraries ################################

import pandas as pd
import numpy as np
import sys, os
import scipy as scipy
import CGATPipelines.Pipeline as P
import CGAT.Database as DB
import warnings
warnings.filterwarnings('ignore')

########################### load R libraries ##################################

%R invisible(library(ggplot2))
%R invisible(library(fastcluster))
%R invisible(library(reshape))
%R invisible(library(reshape2))
%R invisible(library(gplots))
%R invisible(library(RSQLite))

############### Configuration of ipython environment ##########################

#from IPython.core.display import HTML
#
#def htmltab(df):
#    display(HTML(df.to_html()))

################### Configuration of R environment ############################

#set up ggplot2 defaults
%R theme_set(theme_gray(base_size=18))

############################# Databases #######################################

#the location of the database to work with.

db_here = "/path_to_database"

# The ipython database that I will save to.

ipydb = "csvdb_output"

#import databases to R 
%R -i db_here
 
print "set database db_here: %(db_here)s" % locals()

print "set database ipydb: %(ipydb)s" % locals()</code></pre></div>


To load the configuration file into a new ipython notebook run the command in a empty cell:

<div class="highlighter-rouge"><pre class="highlight"><code>% run configuration.config.ipy</code></pre></div>

</div>						
											</div>

				</div>	

	
	


{% endblock %}