{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Blogology</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="" href="/static/css/custom.css"/>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/programming_language/programming-languages.jpg" alt=" " style="height:400px;margin-left:15em;""></a>
					<div class=" single-grid">
						<h4>MOST USEFUL RESOURCES FOR LEARNING PYTHON</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>April 5, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						
<p>One of the <b style=color:black;>classic questions</b> that is always asked by any aspiring computational biologist is, which language should I learn? I hear this question asked so many times that I thought I would share my opinion on the matter. Although I must say, I don’t really think there is a single right answer. Ultimately the language you learn has to be <b style=color:black;>guided by the type of work</b> you will be expected to be performing. I will try and layout the advantages and disadvantages of some of the most useful languages in the following paragraphs. </p>
<p>As a novice, choosing the right language can seem a daunting task. For instance, wikipedia collects a list of all historical and active programming languages, looking at the list and roughly counting them I see over <a href="https://en.wikipedia.org/wiki/List_of_programming_languages">500!</a>. This seems like a huge number, however there are only really a few that I would consider as a computational biologist. My shortlist would be <b style=color:black;>bash, Python, R, Perl, C++ or Julia</b> (although I have less experience with Julia but I can see big things for this language). So lets set out the advantages and disadvantages of learning each of these programming languages for computational biology:</p>						

<h4>R:</h4>						
<h5>Advantages:</h5>
<ul style="margin-left:5em">
	<li>Open source and a thriving community of developers for bioinformatics.</li>
	<li>Well-maintained packages and good package managers.</li>
	<li>Was designed as a statistical language, therefore it deals really well with dataframes and mathematic operations.</li>
</ul>
<h5>Disadvantages:</h5>
<ul style="margin-left:5em">
	<li>Its not a very quick language and it can be quite a difficult language to learn as a new user.</li>
	<li>Personally I find the syntax confusing, particularly when other users embed functions within functions on the same line without separation). i.e. the language doesn’t really enforce any style (which for some that may be good, but for me it makes the code sometimes difficult to interpret)</li>
</ul>

<h4>Python:</h4>
<h5>Advantages:</h5>
<ul style="margin-left:5em">
	<li>Python works great as a general purpose tool</li>
	<li>A huge advantage is its easy to read syntax and is a great language to start to learn as a beginner</li>
</ul>
<h5>Disadvantages:</h5>
<ul style="margin-left:5em">
	<li>Python is an interpreted language so if you need to perform lost of high performance computations this isn’t the language for you</li>
	<li>Around 30-40X slower than C++</li>
</ul>

<h4>Perl:</h4>
<h5>Advantages:</h5>
<ul style="margin-left:5em">
	<li>Was the main language of choice for many years in computational biology and has received good support.</li>
	<li>The regular expression ability of perl is unmatched when compared to any other programming languages.</li>
	<li>Perl one liners are very useful and I have used them many times to as a quick way to manipulate files (<a href="http://www.catonmat.net/blog/introduction-to-perl-one-liners/">http://www.catonmat.net/blog/introduction-to-perl-one-liners/</a>).
</li>
</ul>
<h5>Disadvantages:</h5>
<ul style="margin-left:5em">
	<li>While many computational biology projects are written in perl, its use has been declining in the past couple of years and python is taking over its place.</li>
	<li>In my experience, there are fewer resources available to beginners to pick up this language, although there are a few good of videos on you tube. </li>
</ul>

<h4>C++:</h4>
<h5>Advantages:</h5>
<ul style="margin-left:5em">
	<li>Very fast</li>
	<li>Can be used to process large files and perform mathematical operations with ease</li>
	<li>Highly portable language </li>
	<li>Has a very rich functional library</li>
</ul>
<h5>Disadvantages:</h5>
<ul style="margin-left:5em">
	<li>Learning and mastering this language can be difficult for a beginner</li>
	<li>Its not used that frequently in computational biology because of the dominance of python and perl.</li>
</ul>

<h4>Julia:</h4>
<h5>Advantages:</h5>
<ul style="margin-left:5em">
	<li>This has a similar feel to python and is easy to pick up if you are already familiar with the syntax</li>
	<li>It runs really fast (within 2X speed of C++) so if you find something is running very slow in python you can use Julia to overcome this.</li>
	<li>Aims to be a high-level prototyping language that is also fast enough for simulation programming</li>
</ul>
<h5>Disadvantages:</h5>
<ul style="margin-left:5em">
	<li>It’s a relatively new language (2012) so the package development is at a relatively young stage, however there is a good community beginning to develop.</li>
</ul>

<h3>My language evolution:</h3>

<p>To give some personal perspective, the first language I learnt was R then I moved onto python. However, Speaking with hindsight, <b style=color:black;>I would have started with python</b> as it’s a really good language to start to learn the fundamentals of programming. There are also so many more really good tutorials on python than R. The main reason for starting with R first was because I wanted the power to perform vectorised programming, because I was working with large data frames that needed to be sorted and manipulated. However, with the introduction of the pandas python module, all of this can now be performed in python. Most of <b style=color:black;>R functionality can now be found in python</b>, however R still has one major advantage and that’s the number of packages developed for Next generation sequencing in R. This makes R approachable to users that are not necessarily computationally literate. </p>
	
<p>Most computational biologists can stop when they learn R and python as they are versatile enough to give you the ability to process, analyse and plot most data that you will encounter. However, if you really want to streamline your code and write efficient computational pipelines you may need to learn a few other languages to achieve this.</p>

<p>One of the most useful for wrapping code into command line functions is bash scripting. Before I joined CGAT most of the code I wrote to run programs on the commandline was by writing bash scripts.  Moreover, it’s a really useful language to learn if you want to run programs on multiple files in a directory. </p>					

<p><b style=color:black;>The most difficult language Iv learnt was probably C++</b>. I pushed myself to learn it because I wanted to understand some of the source code written by google in their open source <a href="https://www.tensorflow.org">Tensorflow project </a>. Although I don’t often write C++ code, it’s a great language to learn as it gives you experience with some pretty cool concepts in programming such as switches and teaches you about how computers hold things in memory. Similarly, I began to learn the Julia language, not out of necessity but because I was interested in seeing if it could possibly be useful in the future to speed up code I was writing in python. Although I don’t use it that often at the moment because in most cases python is sufficient, I do see a big future for this language as its aim is to be a high-level language that runs within 2X the speed of C++ (In certain benchmarking its faster!). </p>

<p>In conclusion, <b style=color:black;>I personally would start with learning python and then R</b>s. If you are interesting in developing more advanced and faster code I would suggest learning Julia or C++. Below is a simple table highlighting my main reasons for choosing to learn a particular coding language: </p>

<img src="/static/img/blog/programming_language/Slide1.jpg" alt="language choice" style="position:centre;"/></a>

</div>						
											</div>

				</div>	
</div>
	</div>
	


{% endblock %}