{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Anatomy Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="" href="/static/css/custom.css"/>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/python.png" alt=" " style="height:400px;""></a>
					<div class=" single-grid">
						<h4>MOST USEFUL RESOURCES FOR LEARNING PYTHON</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>March 20, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						
						<p>Having been a wet lab biologist for 5 years with very little programming knowledge (zero python, a little C++), my first task when joining the Computational Biology and Training Department (CGAT) was to develop the Python programming skills. However, my experience at learning python revealed that getting access to course material wasn’t an issue, learning where to start was more problematic. </p>

<p>My first port of call was to buy the <b style=color:black;>‘Python for biologists’</b> books, which retrospectively looking at, are amazing introductions to the basic use of python in biology. However, I quickly realised that even these simple to understand books were far too advanced for me at the time, as I hadn’t even grasped how to use the for loop yet, let alone learn how to reverse complement a string of DNA sequence. </p>

<p>My lack of knowledge on the simple basics of python led me to the Coursera python(?) course, where basic principles are introduced and then the course explores some of the more advanced aspects of python, which I felt at the time were far too complicated for what I needed. However, I persisted and completed the course and it allowed me to begin my new life as a computational biologist. </p>

<p>However, It was only after completing the Coursera series that I discovered <b style=color:black;>Codeacademy</b>. If I had discovered this first I think that my road to becoming a python programmer would have been simpler and less complicated, as the interactive session used to teach python is really intuitive. Moreover, it covers the basic principles clearly and concisely. </p>

<p>I think the most significant issue when embarking on learning a programming language wasn’t actually getting access to material; it was trying to decide <b style=color:black;>where to start first</b>. Therefore, for anyone embarking on learning python for biology related purposes I would go through these sources in order:</p>

<ol style="width:75%;color:grey;margin-left:10%;">
<li><b style=color:black;>Codeacademy</b> – this is a great free resource and introduces the principles of python perfectly.</li>
<li><b style=color:black;> ‘Python for Biologists’</b> – this is an excellent introduction to building python code and then applying it to simple biological problems. – However, don’t expect too much from this book, it wont give you solutions to </li>
<li>(The computational book)</li>
<li><b style=color:black;>Coursera (Python…)</b> – This was a great course to begin with but goes into some more advanced topics that at the time I didn’t need. I would consider doing this course and then stopping when you either get bored or find that it isn’t really helping you anymore. After a year of using python I re-enrolled in this course and found the more advanced aspects of the tutorials so much more informative. </li>
</ol>

<p>All in all, it took me a month to have a good grasp of python and about another month to start using the language to a sufficiently advanced level. However, when I was a  </p>
</div>						
											</div>

				</div>	

	
	


{% endblock %}