{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Anatomy Blog</title>
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="" href="/static/css/custom.css"/>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/pandas.png" alt=" " style="height:200px;margin-left:15em;""></a>
					<div class=" single-grid">
						<h4>THE PANDAS MODULE FOR PYTHON</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>March 21, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						

<p>Im still relatively new to python programming (well two years fresh) and one of the things I love about python is the ability to easily import modules that give you extra functional code with which to use and make simpler programs. </p>

<p>Im sure a lot of you reading this will have come across the pandas module, if you have then this post isn’t for you, if you haven’t then please keep on reading as it has completely revolutionised the way I work and I would like to share my reasons for investing time to learn how this module operates.</p>

<p>I initially became interested in pandas because I was getting sick of loading data to a database and then using SQL to perform joins. A quick Google search revealed that this could be performed more easily in python, using the module pandas, prior to loading the data into the database.</p>

<p>Obviously working with databases is easy and doesn’t require any extensive training courses, however I find the code to search databases boring to write and found it cumbersome when integrating it into my python code. However, the discovery of pandas has revolutionised the way I interact with data in python. </p>

<p>Alongside Numpy, Pandas is now, without a doubt, one of the most important Python libraries for data analytics. Easy to use data structures (DataFrame, Series are the most important ones), similar to R in the fact that it uses data frames to manipulate data, markedly improves the functionality of python code. </p>

<p>To help new users find information regarding the best resources on where to start to learn pandas I have compiled the following list of references in order of usefulness (At least to me). However if you are really interested in exploring pandas fully, I recommend you read the docs because there is so much functionality in this module:</p>

<ol style="width:75%;color:grey;margin-left:10%;">
<li><b style=color:black;><a href="http://pandas.pydata.org/pandas-docs/stable/tutorials.html">The official documentation and tutorials from pandas developers</a> </b> – this is a great resource and introduces the principles of pandas.</li>
<li><b style=color:black;><a href="http://twiecki.github.io/blog/2014/11/18/python-for-data-science/">The Thomas Wiecki blog </a></b> – A really easy to follow first introduction example</li>
<li><b style=color:black;><a href="https://www.coursera.org/learn/python-data-analysis#syllabus">Coursera on working with data in python</a></b> - I took this course provided by the University of Michigan and found some of their pandas introductions useful. </li>
<li><b style=color:black;><a href="https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python#gs.036iELs">Pandas Tutorial: DataFrames in Python</a></b> - I found this course very useful for understanding small chunks of code because of the interactive learning platform.</li>
</ol>

<p>All in all, it took me a month to have a good grasp of python and about another month to start using the language to a sufficiently advanced level.</p>
</div>						
											</div>

				</div>	

	
	


{% endblock %}