{% extends "base.html" %}
{% block home %}

<head>
<title>Computational Anatomy Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="" href="/static/css/custom.css"/>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
	<div class="single">
		<div class="container">
				<div class="single-top">
						<a href="#"><img class="img-responsive" src="/static/img/blog/UW.png" alt=" " style="height:100px;margin-left:20em;""></a>
					<div class=" single-grid">
						<h4>UNIVERSIY OF WASHINGTON MACHINE LEARNING COURSE</h4>				
							<ul class="blog-ic">
								<li><a href="#"><span> <i  class="glyphicon glyphicon-user"> </i>Adam Cribbs</span> </a> </li>
		  						 <li><span><i class="glyphicon glyphicon-time"> </i>July 24, 2017</span></li>	
		  						 <!-- Need to change the icons to font awsome ones -->	  						 	
		  					</ul>
<div class="single-blog">	  						

<p>Continual self development, in particular through learning new skills that can be applied to scientific analysis, 
is critical for your future scientific career. 
Having learnt to code, analyse next generation data and then apply statistical analysis on
that processed data has opened doors that were shut before I began my fellowship. However, I am now finding that as I am generating
more high dimensional data, I lack the skills to accurately handle this.</p>

<p>This realisation is my motivation for learning how to analyse this data using machine learning techniques. According to wikipedia,
machine learning is a branch of artificial intelligence and gives "computers the ability to learn without being explicitly programmed". However, 
just when I started my quest to become a computational biologist I realised that machine learning tools (such as
those in R and scikit learn) are extremely easy to implement, but recourses that teach you the mathematics and statistics underpinning these techniques
are very few.</p>

<p>I firmly believe that you shouldn't apply a particular tool/technique unless you understand what the tool/technique 
is doing mathematically. After trawling through a number of online courses on machine learning, most of them give very good tutorials on how to 
implement the code but none of them iv found really effectively deal with the statistical explanation.</p>

<p>This was when I started looking at potential residency courses. On recommendation from a colleague, this ultimately led me to apply for a scholarship 
towards attending the university of Washington Summer Institute in Statistics for Big Data. The event is ran every year and developed from the Summer Institute for 
Statistical genetics that has been running successfully for the last 22 years.</p>

<p>I chose to attend three modules out of a total of 30, with the three courses running over a total of 2 weeks. The first course was the supervised 
learning approach to big data and I found this incredibly useful as it went into significant detail regarding the mathematical concepts concerning these techniques. Most of the lab 
practicals were in R which, having used python's scikit-learn, I found useful to see alternative implementations in a different code.</p>

<p>The second module I took was the unsupervised learning module. Unsupervised machine learning techniques is something that I was most comfortable with, since 
I use PCA and K-means on almost a daily basis. However, what I didn't realise until I attended the course was how many different types of clustering tools were available for 
different types of data. The course was very comprehensive and went into sufficient enough detail for me to both understand and appreciate the statistical models 
underpinning these different techniques. In addition to unsupervised learning this module also included lectures on reinforcement learning framework and its
application on personalised medicine. Framing this in the context of a problem that I could relate to helped me to understand the implementation of this machine 
learning tool better. Overall, the take home message of this module was "Here are all of the tools and how they work, run them all on the data and if you see consistent clustering over a number of
 methods then your clustered population is real". One of the topics that I found really helpful was the best practices in validating clustering techniques. Validation of clustering was something that I had 
 never really thought of previously and is something I will be more aware of in the future.</p>

<p>The third and final course was MCMC for statistical genetics. Although Im not a statistical geneticist I thought that this course would be very useful because of the statistical theory (particularly bayesian stats) 
would be applicable to understanding other aspects of statistical genomics. The class size was around 20, which was considerably smaller than the two machine learning course, however this tuned out to be size perfect for the
right level of support from the tutors. The course started with very little assumption on statistical knowledge and quickly build towards and introduction to Marcov chains and then to MCMC theory. The best thing about this course was
that the tutors described the mathematical equations then described the implimentation of</p>

<p>Overall, I thought that the courses had well designed content and the course instructors were both engaging and inspiring. My mind is suffering from the sheer amount of knowledge that
 I consumed over the 2 weeks, but im hoping that when I have had time to mull over the things, I can apply these tools more effectively in my scientific research. I thoroughly recomend this course 
 and I would love to attend some of the other modules in the future.</p> 
</div>
</div>						
											</div>

				</div>	

	
	


{% endblock %}



