<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-social.css" rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet" >
	<link rel="stylesheet" type="" href="/static/css/custom.css" media="screen" />
    <meta name="keywords" content="Adam Cribbs, University of Oxford, Science, Computational Biology, acribbs" />
    <meta name="author" content="Adam Cribbs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
        <title>Adam Cribbs</title>
        
  </head>
    </head>
    <body>

<nav class="navbar navbar-inverse nav-justified">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
		<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="/home">Home</a></li>
  <li role="presentation" class="active"><a href="/Science">Science</a></li>
  <li role="presentation" class="active"><a href="/Code">Code</a></li>
  <li role="presentation" class="active"><a href="/Blog">Blog</a></li>
  <li role="presentation" class="active"><a href="/Contact">Contact</a></li>

</ul>

  </nav>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97452190-1', 'auto');
  ga('send', 'pageview');

</script>
</body>    
{% block home %}{% endblock %}

<footer>
<div id="footer_background">
  <p>© Copyright 2017. All rights reserved.</p>
  <p>Hand coded by Adam Cribbs with help from Flask <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">(And the mega flask tutorial)</a>, bootstrap, W3schools and hosted on the Heroku cloud.  
  <p>Contact information: <a href="/Contact">
  adam.cribbs@imm.ox.ac.uk</a>.</p>
  </div>
</footer>

</html>