<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-social.css" rel="stylesheet">
	<link href="/static/css/font-awesome.css" rel="stylesheet" >
	<link rel="stylesheet" type="" href="/static/css/custom.css" media="screen" />
	<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="keywords" content="Adam Cribbs, University of Oxford, Science, Computational Biology" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adam Cribbs</title>
    </head>
    <body>
  	<a href="https://github.com/CGATOxford/cgat">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <p>

        </p>

<nav class="navbar navbar-inverse nav-justified">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
		<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="/home">Home</a></li>
  <li role="presentation" class="active"><a href="/Science">Science</a></li>
  <li role="presentation" class="active"><a href="/Code">Code</a></li>
  <li role="presentation" class="active"><a href="/Blog">Blog</a></li>
  <li role="presentation" class="active"><a href="/Contact">Contact</a></li>

</ul>

  </nav>
</body>    
{% block home %}{% endblock %}

<footer>
<div id="footer_background">
  <p>© Copyright 2010 - 2017. All rights reserved.</p>
  <p>Hand coded by Adam Cribbs with help from Flask, 
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
  </div>
</footer>

</html>