<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block home %}
<head>
<title>Computational Blogology</title>
<link href="/static/css/blog/style.css" rel="stylesheet">
<link href="/static/css/blog/bootstrap.css" rel="stylesheet" media="screen">

<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/static/js/blog/move-top.js"></script>
<script type="text/javascript" src="/static/js/blog/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!--header-top-starts-->
		<div class="container">
			<div class="banner-top">
				<div class="banner-text">
					<h2>For the latest blog post from</h2>
					<h1>Computational Blogology</h1>
					<div class="banner-btn">
						<a href="/python-start">Read More</a>
				
				</div>
			</div>
		</div>
	</div>
	<!--banner-end-->
	<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-8 about-left">
					<div class="about-one">
					
						<p>April 2017</p>
						<h3>Method of the month</h3>
					</div>
					<div class="about-two">
						<a href="/Method-2"><img src="/static/img/blog/Method-April17.png" alt="Method of the month" /></a>
						<p>Posted by <a href="/Method-2">Adam Cribbs</a> on 15th April, 2017 </p>
						<p>A recent publication (Jan 2017) <b style=color:black;>‘Pooled CRISPR screening with single-cell transcriptome readout’</b> (Nature methods) using CRISPR screening in conjunction with single-cell transcriptomics.</p>
						<p>In the following post I write a brief description of the paper and give references to other recent paper that have also published in this exiting and interesting field.</p>
						<div class="about-btn">
							<a href="/Method-2">Read More</a>
						</div>
					</div>	
					<div class="about-tre">
						<div class="a-1">
							<div class="col-md-6 abt-left">
								<a href="/UW_ML"><img src="/static/img/blog/screen.png" alt="" style="height:300px;"/></a>
								<h6>Blog post</h6>
								<h3><a href="/UW_ML">University of Washington Summer Institue of Big Data</a></h3>
								<p>Some of my experiences regarding my attendance at the Summer School of Big Data in Seattle, USA.</p>
								<label>July 25, 2017</label>
							</div>
							<div class="col-md-6 abt-left">
								<a href="/Public1"><img src="/static/img/blog/Our_team[1].jpg" alt="" style="height:300px;"/></a>
								<h6>Blog post</h6>
								<h3><a href="/Public1">My introduction to public engagement</a></h3>
								<p>So I volunteered for "Science in a supermarket" and this is how it went</p></br></br>
								<label>June 23, 2017</label>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="a-1">
							<div class="col-md-6 abt-left">
								<a href="/python-start"><img src="/static/img/blog/python-crop.png" alt="" style="height:300px;"/></a>
								<h6>Blog post</h6>
								<h3><a href="/python-start">Where to start with Python</a></h3>
								<p>Some of my thoughts on the best place to begin to learn python programming. Provides some useful links that I wish I had been directed to in my quest to be a python master.</p>
								<label>March 20, 2017</label>
							</div>
							<div class="col-md-6 abt-left">
								<a href="/git-HEAD"><img src="http://i57.photobucket.com/albums/g240/lizcoolmompicks/barbie_head_1.jpg" alt="" style="height:300px;"/></a>
								<h6>Blog post</h6>
								<h3><a href="/git-HEAD">Git - How to attach a detached HEAD</a></h3>
								<p>A post on how to correct a problem with a detached HEAD.</p></br></br>
								<label>May 04, 2017</label>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="a-1">
							<div class="col-md-6 abt-left">
								<a href="/ipython_notebook"><img src="/static/img/blog/ipython_large.jpg" alt="" /></a>
								<h6>Blog post</h6>
								<h3><a href="/ipython_notebook">IPython notebook</a></h3>
								<p>In this post I introduce the Ipython notebook and show some very simple functionality of running cells.</p>
								<label>March 21, 2017</label>
							</div>
							<div class="col-md-6 abt-left">
								<a href="/ipython_notebook2"><img src="/static/img/blog/ipython_large.jpg" alt="" /></a>
								<h6>Blog post</h6>
								<h3><a href="/ipython_notebook2">IPython environment</a></h3>
								<p>In this post I delve into more details regarding how to set up a consistent way of loading frequently used python modules into ipython notebook and briefly mention R magic and how it can help you.</p>
								<label>March 21, 2017</label>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="a-1">
							<div class="col-md-6 abt-left">
								<a href="/gittutorial"><img src="/static/img/blog/GitHub-Mark.png" alt="" /></a>
								<h6>Blog post</h6>
								<h3><a href="/gittutorial">Git introduction and where to find help</a></h3>
								<p>Being able to version control code is one of the most important exercises in maintaining and developing software and in this post I discus the advantages and disadvantages of using git to version control your code.</p>
								<label>March 22, 2017</label>
							</div>
							<div class="col-md-6 abt-left">
								<a href="/github"><img src="/static/img/blog/GitHub-Mark.png" alt="" /></a>
								<h6>Blog post</h6>
								<h3><a href="/github">Github and setting up a repository</a></h3>
								<p>In this post I will go through the basic workflow of setting up a repository on github and show you how to add your first file to a remote branch</p>
								<label>March 29, 2017</label>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="a-1">
							<div class="col-md-6 abt-left">
								<a href="/scripts"><img src="/static/img/blog/python-crop.png" alt="style="height:250px;" /></a>
								<h6>Blog post</h6>
								<h3><a href="/scripts">How to write a python script</a></h3>
								<p>A tutorial on how to get your python code to interact with the command line</p>
								<label>March 22, 2017</label>
							</div>
							<div class="col-md-6 abt-left">
								<a href=""><img src="/static/img/blog/programming_language/language.png" alt="style="height:400px;" /></a>
								<h6>Blog post</h6>
								<h3><a href="/language">Which programming language should I learn as a computational biologist?</a></h3>
								<p>This a classic question. Here I share some of my thoughts on this issue. Hint...I dont think there is one language that fits all purposes (although python does fulfil a lot of them)</p>
								<label>March 29, 2017</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>	
					
					
					
					
					
					
					
					
					
				</div>
				<div class="col-md-4 about-right heading">
					<div class="abt-1">
						<h3>ABOUT THE BLOG</h3>
						<div class="abt-one">
							<img src="/static/img/blog/heatmap.jpg" alt="" />
							<p>Its always been clear to me that things are learnt quicker when you teach them to others. I initially set this blog up as a way to broaden my computational horizons and teach myself new techniques and ways of working.</p>
							<div class="a-btn">
								<a href="/Method-1">Read More</a>
							</div>
						</div>
					</div>
					<div class="abt-2">
						<h3>YOU MIGHT ALSO LIKE</h3>
							<div class="might-grid">
								<div class="grid-might">
									<a href="https://cgatoxford.wordpress.com"><img src="/static/img/blog/CGAT-blog.png" class="img-responsive" alt=""> </a>
								</div>
								<div class="might-top">
									<h4><a href="https://cgatoxford.wordpress.com">CGAT-Adventures in genomics</a></h4>
									<p>This is the blog from the computational training centre I work at and has some interesting posts, particularly those on alignment free quantification techniques.</p> 
								</div>
								<div class="clearfix"></div>
							</div>	
							<div class="might-grid">
								<div class="grid-might">
									<a href="https://stanfordcehg.wordpress.com"><img src="/static/img/blog/CEHG-blog.png" class="img-responsive" alt=""> </a>
								</div>
								<div class="might-top">
									<h4><a href="https://stanfordcehg.wordpress.com">CEHG - Computational, evolutionary and human genetics at stanford</a></h4>
									<p> A computational blog from the CEHG group at stanford.</p> 
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="might-grid">
								<div class="grid-might">
									<a href="https://blog.frontiersin.org"><img src="/static/img/blog/frontiers.jpg" class="img-responsive" alt=""> </a>
								</div>
								<div class="might-top">
									<h4><a href="https://blog.frontiersin.org">Frontiers in</a></h4>
									<p> A professional general blog with some really interesting computational biology posts.</p> 
								</div>
								<div class="clearfix"></div>
							</div>							
					</div>
					<div class="abt-2">
						<h3>BLOG ARCHIVES</h3>
						<ul>
						<p>General</p>
						<li><a href="/Public1">My introduction to public engagement</a></li>
						<li><a href="/language">Which programming language should I learn as a computational biologist?</a></li>
						<li><a href="/Computational_biology-to-not">Reasons for and against being a computational biologist</a></li>
						<li><a href="/Statistics-1">Why are biologists scared of statistics, and how to overcome it</a></li>
						
						<p>Python</p>
							<li><a href="/python-start">Where to start with Python </a></li>
							<li><a href="/python-pandas">The python pandas module</a> </li>
							<li><a href="/ipython_notebook">IPython notebook</a> </li>
							<li><a href="/ipython_notebook2">IPython environment</a> </li>
							<li><a href="">How to write a python script</a></li>
						</ul>	
						<p>Git</p>
						<ul>
							<li><a href="/gittutorial">Git introduction and where to find help</a> </li>
							<li><a href="/github">First introduction to github</a></li>
						</ul>	
					</div>
					<div class="abt-2">
						<h3>METHOD OF THE MONTH ARCHIVES</h3>
						<ul>
							<li><a href="/Method-2"><b style=color:black;>April-17</b> ‘Pooled CRISPR screening with single-cell transcriptome readout’</a></li>
							<li><a href="/Method-1"><b style=color:black;>March-17</b> ‘Spliced synthetic genes as internal controls in RNA sequencing experiments’</a></li>

						</ul>	
					</div>
				</div>
				<div class="clearfix"></div>			
			</div>		
		</div>


	</div>
	<!--about-end-->
	<!--slide-starts-->
	<div class="slide">
		<div class="container">
			<div class="fle-xsel">
			<ul id="flexiselDemo3">
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/s-1.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/s-2.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>			
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/s-3.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>		
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/s-4.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>	
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/s-5.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>	
				<li>
					<a href="#">
						<div class="banner-1">
							<img src="images/s-6.jpg" class="img-responsive" alt="">
						</div>
					</a>
				</li>				
			</ul>
							
							 <script type="text/javascript">
								$(window).load(function() {
									
									$("#flexiselDemo3").flexisel({
										visibleItems: 5,
										animationSpeed: 1000,
										autoPlay: true,
										autoPlaySpeed: 3000,    		
										pauseOnHover: true,
										enableResponsiveBreakpoints: true,
										responsiveBreakpoints: { 
											portrait: { 
												changePoint:480,
												visibleItems: 2
											}, 
											landscape: { 
												changePoint:640,
												visibleItems: 3
											},
											tablet: { 
												changePoint:768,
												visibleItems: 3
											}
										}
									});
									
								});
								</script>
								<script type="text/javascript" src="js/jquery.flexisel.js"></script>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>	

</body>
{% endblock %}
</html>
