{% extends "base.html" %}
{% block home %}
<div class="contact">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>Current place of work</span></h2><br />

<p style="margin-left: 20px"><b>The Botnar Research Centre (University of Oxford):</b><br> 
	<a class="external-link" target="MRC Centre for Computational Biology" href="https://www.ndorms.ox.ac.uk/about/botnar-research-centre">The Botnar Research Centre</a><br>
	University of Oxford<br>
	Nuffield department of Orthopaedics<br>
	Windmill Road<br>
	OXFORD<br>
	OX3 7LD <br><br/><br/><br/>

<h1>Where to find the WIMM</h1>

<div id="map">
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJ9wy-4_BdkgRrgeN9nA27ik&key=..." allowfullscreen></iframe>
</div>
</div>
</div>





{% endblock %}