{% extends "base.html" %}
{% block home %}

<p style="margin-left: 20px; margin-right: 400px;">I am currently a Computational Genomics and Training (CGAT) Fellow based in the MRC computational centre in the Witherall
institute of Molecular Medicine (WIMM), University of Oxford</p>
 
<div id="contact">
<h2 style="margin-left:20px">Current place of work</h2>
<a href="https://cgatoxford.wordpress.com" target="_blank">
  	<img src="/static/img/cgat_banner.png" style="margin-left: 20px">
  	</a><br><br>
<p style="margin-left: 20px;">CGAT is an MRC funded programme within the MRC Functional Genomics Unit to train 
	future leaders in computational genomics</p>
	<a href="https://www.mrc.ac.uk/skills-careers/additional-career-support/computational-genomics-analysis-cgat/" target="_blank">
  	<img src="/static/img/mrc_logo.png" style="margin-left:20px;width:130px;height:50px;">
  	</a>
	<p style="margin-left: 20px"><b>Computational and Genomics Centre (CGAT):</b><br> 
	<a class="external-link" target="_blank" href="http://www.dpag.ox.ac.uk/research/mrcfgu">MRC Functional Genomics Unit</a><br>
	<a class="external-link" target="_blank" href="http://www.dpag.ox.ac.uk">Department of Physiology Anatomy & Genetics</a><br>
	University of Oxford<br>
	South Parks Road<br>
	OXFORD<br>
	OX1 3PT<br>
	<br/>
	<p style="margin-left: 20px"><a class="external-link" href="http://www.ox.ac.uk/visitors/maps-and-directions">Directions</a> and link to <a class="external-link" href="https://goo.gl/maps/fHYqv">Google Maps</a>.</p>
	<br/>
	<p style="margin-left: 20px">Enquiries: 01865 282168<br>
	Email:<span class="link-mailto"><a class="mail-link" href="mailto:cgat@dpag.ox.ac.uk">cgat@imm.ox.ac.uk</a></span></p></p>
</div>


<div id="contact">
</div>

{% endblock %}