{% extends "base.html" %}
{% block home %}
<div class="contact">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>Current place of work</span></h2><br />

<a href="https://cgatoxford.wordpress.com" target="_blank">
  	<img src="/static/img/cgat_banner.png" style="margin-left: 10em">
  	</a><br><br>

	<div id="">
		<div class="mrc-work">
		<img src="/static/img/mrc_logo.png"/>
		<p>CGAT is an MRC funded programme with the remit to train the future leaders in computational genomics</p>
		</div>
<p style="margin-left: 20px"><b>Computational and Genomics Centre (CGAT):</b><br> 
	<a class="external-link" target="MRC Centre for Computational Biology" href="https://www.imm.ox.ac.uk/mrc-computation-centre">MRC Centre for Computational Biology</a><br>
	<a class="external-link" target="WIMM" href="http://www.imm.ox.ac.uk/home">MRC Weatherall Institute of Molecular Medicine</a><br>
	University of Oxford<br>
	John Radcliffe Hospital<br>
	Headington<br>
	OXFORD<br>
	OX3 9DS <br><br/><br/><br/>

<h1>Where to find the WIMM</h1>

<div id="map">
{% with %}

    {% set location=(51.763279, -1.216744) %}
    {% set style="width:500px;height:500px;"%}

    {{
    googlemap(
        "simple-map",
        location.0, location.1,
        markers=[location,],
        style=style
        )
    }}

{% endwith %}
</div>
</div>
</div>





{% endblock %}