{% extends "base.html" %}
{% block home %}

<html>

<script type="text/javascript" src="/static/js/picture_cascade.js"></script>

<ul class="nav navbar-nav navbar-right" style="margin-left: 200px;">
  	<a href="https://twitter.com/CribbsP"><img src="/static/img/Twitter_Logo_White_On_Blue.jpg" alt="Twitter" style="width:20%;height:auto;border:2%">
  	</a>
  	<a href="https://github.com/CGATOxford/cgat"><img src="/static/img/Octocat.jpg" alt="CGAT" style="width:20%;height:auto;border:2%">
    </a>
	<a href="http://www.cgat.org/cgat/About/about-cgat/cgat-fellows"><img src="/static/img/cgat_logo.png" alt="CGAT Fellows" style="width:20%;height:auto;border:2%">
  	</a>
  	<a href="https://cgatoxford.wordpress.com"><img src="/static/img/wordpress-logo-32-blue.png" alt="Wordpress-cgat" style="width:20%;height:auto;border:2%">
  	</a>
  	</ul><br />
  	
<div class="aboutme">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>Introduction</span></h2><br />
<div id="profilephoto">
<img src="/static/img/Adam-Cribbs.png" alt="Adams face" style=" 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19); position: absolute; right: 10%; margin: 40; width: 25%; height: auto;">


<div id="personalinfo">
<p class="losinfo2"> <b>Adam Cribbs:</b> PhD (Imperial College, London) in molecular immunology and now a group leader in computational biology at the University of Oxford.</p> <p class="losinfo2">My passion is for quality reproducible science that has the power to change opinions about the world.</p>
<p class="losinfo2"> I am currently working as a group leader in systems biology at the <a href="https://www.ndorms.ox.ac.uk/team/adam-cribbs">Botnar research centre</a>, having recently completed a 3 year fellowship in computational biology at the Computational Genomics and Training Centre (CGAT), <b>University of Oxford</b>.</p>
<p class="losinfo2"> I am also an immunologist with a focus on understanding how dysregulated epigenetic pathways in T cells contribute to autoimmunity.</p>
<p class="losinfo2"> I am currently applying my bioinformatic skills to answer important research questions in collaboration with a number of academics across the University of Oxford. Summaries of current ongoing projects are detailed <a href="/Science">here</a>.</p> 
</div>
</div>
</div>
</div>
</div>


<!-- need to make sure this is wrapped properly so another div to divide boxes into right and left then fit cascade image on right-->

<div id="history-top">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>A historical perspective</span></h2><br />

<div id="history-left">
<div class="losinfo4"> 
<p> I began my scientific career at the Kennedy Institute of Rheumatology where I undertook a PhD investigating why
regulatory T cells (Treg) were defective in Rheumatoid arthritis (RA). I identified that DNA methylation at the CTLA-4 promoter
led to impaired Treg function that contributes to the inflammatory processes in RA</p>
<p> Following my PhD I moved to Prof Sir Marc Feldmann (known for the discovery of
anti-TNF therapy in RA) and Prof Udo Oppermans laboratory at the Botnar research centre to
investigate epigenetic pathways that are important for T and NK cell activation. During this time I 
was using a number of whole genome wide techniques to analyse the contribution of histone marks to autoimmunity</p>
<p> Despite developing extensive knowledge of experimental design and state-of-the art laboratory techniques, 
at the time I was unable to analyse the resulting data to a high standard, which motivated me to apply for my 
current MRC <b>fellowship in computational biology based at the Weatherall Institute of Molecular Medicine (University of Oxford)</b>.</p>
<p> The <a href="http://www.cgat.org" target="CGAT">CGAT training fellowship </a> is a highly competitive 
program that has the remit of <b>“training the future leaders in computational genomics”</b>. During my time here, I
 have developed a number of computational skills that allow me to write 
complex code, enabling the difficult analysis and interpretation of next-generation sequencing data.</p>
<p>Following my CGAT work, I have now been appointed group leader in systems biology at the Botnar Research Centre.</p>
<p> I am currently working on a number of really interesting projects in collaboration with a number of 
scientists across the University of Oxford, summaries of these can be found <a href="/Science">here.</a></p> 
<p> In addition to my on-going scientific work, I also have a passion for exploring the social, 
ethical and moral consequences
of my science. With this in mind I joined <a href="http://campion.imageworks-testing.co.uk/user/68">Campion hall</a>, 
 as a Junior research fellow, here I am actively exploring the ethical consequences of genome technology. Please see a recent publication of this work <a href="https://www.ncbi.nlm.nih.gov/pubmed/29259526">here</a>.</p>
</div>
</div>



<div id="history-right">


<div class="wrap">
    
  <!-- Define all of the tiles: -->
  <div class="box">
    <div class="boxInner">
      <img src="https://www.ndorms.ox.ac.uk/images/about/kennedy-institute-of-rheumatology/@@images/image/w760" alt="Kennedy institute"/>
      <div class="titleBox">The Kennedy Institute of Rheumatology</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="https://www.ndorms.ox.ac.uk/images/about/botnar-research-centre/@@images/image/w760" alt="Botnar Research Centre" />
      <div class="titleBox">The Botnar Research Centre</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="https://wimmblogdotcom.files.wordpress.com/2014/08/wimm-front5-2.jpg?w=730&h=486" alt="WIMM" />
      <div class="titleBox">The Weatherall Institute of Molecular Medicine</div><br /><br />
    </div>
  </div>
</div>

</div>

<div class="clr"></div>








</html>
{% endblock %}