{% extends "base.html" %}
{% block home %}

<html>

<script type="text/javascript" src="/static/js/picture_cascade.js"></script>

<ul class="nav navbar-nav navbar-right" style="margin-left: 200px;">
  	<a href="https://twitter.com/CribbsP"><img src="/static/img/Twitter_Logo_White_On_Blue.jpg" alt="Twitter" style="width:20%;height:auto;border:2%">
  	</a>
  	<a href="https://github.com/CGATOxford/cgat"><img src="/static/img/Octocat.jpg" alt="CGAT" style="width:20%;height:auto;border:2%">
    </a>
	<a href="http://www.cgat.org/cgat/About/about-cgat/cgat-fellows"><img src="/static/img/cgat_logo.png" alt="CGAT Fellows" style="width:20%;height:auto;border:2%">
  	</a>
  	<a href="https://cgatoxford.wordpress.com"><img src="/static/img/wordpress-logo-32-blue.png" alt="Wordpress-cgat" style="width:20%;height:auto;border:2%">
  	</a>
  	</ul><br />
  	
<div class="aboutme">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>About me</span></h2><br />
<div id="profilephoto">
<img src="/static/img/Adam_2.jpeg" alt="Adams face" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position: absolute; right: 10%; margin: 40; width: 30%; height: auto;">


<div id="personalinfo">
<p class="losinfo2"> <b>Adam Cribbs:</b> PhD (Imperial college, London) in molecular immunology and now a computational biologist.</p> <br /><br /><p class="losinfo2" style="color:#4885ed;"><i>My passion is for quality reproducible science that has the power to change opinions about the world.</i></p><br /><br />
<p class="losinfo2"> I am currently working as a Medical Research Council (MRC) fellow at the Computational Genomics and Training Centre (CGAT), <b>University of Oxford</b>.</p><br />
<p class="losinfo2"> Im also an immunologist with a focus on understanding how dysregulated epigenetic pathways in T cells contribute to autoimmunity.</p><br />
<p class="losinfo3"> I am currently applying my bioinformatic skills to answer important research questions in collaboration with a number of academics across the University of Oxford. Summaries of current ongoing projects are detailed <a href="/Science">here</a>.</p> 
</div>
</div>
</div>
</div>
</div>

<div id="philosophy">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>My Philosophy</span></h2><br />

<section id="header-section" class="content-block" style="background: url(/static/img/Cool_background-6_SBd4Ddp.jpg); width: 97%;">	
    <div id="buttons">
	<ul style="list-style: none; width=97%;">
	<li style="margin: 20px 0;"><a href="https://www.forbes.com/2004/09/21/cx_mh_0921happiness.html"">Pursue passion</a></li><br></br>
	<li style="margin: 20px 0;"><a href="http://en.unesco.org/themes/investing-science-technology-and-innovation"">Invest in ideas</a></li><br></br>
	<li style="margin: 20px 0;"><a href="http://dictionary.cambridge.org/dictionary/english/early-bird-catches-the-worm"">Be proactive</a></li><br></br>
	<li style="margin: 20px 0;"><a href="https://www.fastcompany.com/3051290/why-having-friends-at-work-is-so-important"">Care about your environment</a></li><br></br>
	</ul> 
	</div>

</section> 
</div>
</div>

<!-- need to make sure this is wrapped properly so another div to divide boxes into right and left then fit cascade image on right-->

<div id="history-top">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>A historical perspective</span></h2><br />

<div id="history-left">
<div class="losinfo4"> 
<p> I began my scientific career at the Kennedy Institute of Rheumatology where I undertook a PhD investigating why regulatory T cells (Treg) were defective in Rheumatoid arthritis (RA). I identified that DNA methylation at the CTLA-4 promoter led to impaired Treg function that contributes to the inflammatory processes in RA</p>
<p> Following my PhD I moved to Prof Sir Marc Feldmann (known for the discovery of anti-TNF therapy in RA) and Prof Udo Oppermans laboratory at the Botnar research centre to investigate epigenetic pathways that are important for T and NK cell activation. During this time I was using a number of whole genome wide techniques to analyse the contribution of histone marks to autoimmunity</p>
<p> Despite developing extensive knowledge of experimental design and state-of-the art laboratory techniques, at the time I was unable to analyse the resulting data to a high standard, which motivated me to apply for my current MRC <b>fellowship in computational biology based at the Weatherall Institute of Molecular Medicine (University of Oxford)</b>.</p>
<p> The <a href="http://www.cgat.org" target="CGAT">CGAT training fellowship </a> is a highly competitive program that has the remit of <b>“training the future leaders in computational genomics”</b>. Since starting the program, I have developed a number of computational skills that allow me to write complex code, enabling the difficult analysis and interpretation of next-generation sequencing data.</p>
<p> I am currently working on a number of really cool projects in collaboration with a number of scientists across the University of Oxford, summaries of these can be found <a href="/Science">here.</a></p> 
</div>
</div>



<div id="history-right">


<div class="wrap">
    
  <!-- Define all of the tiles: -->
  <div class="box">
    <div class="boxInner">
      <img src="https://www.ndorms.ox.ac.uk/images/about/kennedy-institute-of-rheumatology/@@images/image/w760" alt="Kennedy institute"/>
      <div class="titleBox">The Kennedy Institute of Rheumatology</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="https://www.ndorms.ox.ac.uk/images/about/botnar-research-centre/@@images/image/w760" alt="Botnar Research Centre" />
      <div class="titleBox">The Botnar Research Centre</div>
    </div>
  </div>
  <div class="box">
    <div class="boxInner">
      <img src="https://wimmblogdotcom.files.wordpress.com/2014/08/wimm-front5-2.jpg?w=730&h=486" alt="WIMM" />
      <div class="titleBox">The Weatherall Institute of Molecular Medicine</div><br /><br />
    </div>
  </div>
</div>

</div>

<div class="clr"></div>



<div id="random">
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>10 random things</span></h2><br />
<section id="header-section" class="content-block" style="background: url(/static/img/color_background.jpg); width: 97%;">	

<div id="things">
<ul style="list-style: none; width=97%;">
<li>Over a thousand evangelical christians have prayed for me. (I'm not religious)</li>
<li>I don't have a favourite food - I love all food, how could I choose!</li>
<li>I'm from the north east of England, a town called Whitley Bay.</li>
<li>I'm a member of Campion hall, a Jesuit priest order in Oxford (I'm not a priest).</li>
<li>If I wasn't a scientist I would be an engineer or a software developer.</li>
<li>I recently broke my hand after a fat man sat on it.</li>
<li>I have a secret....I used to be a stamp collector.</li>
<li>Coding is my new hobby and I hope to get good at it...one day :).</li>
<li>I used to be a competitive swimmer.</li>
<li>I object to queueing, filling in unnecessary paperwork and to overly organised people.</li>
<li>I love walking, talking and musicing.</li>
</ul>
</div>
</section>

</div>
</div>






</html>
{% endblock %}