{% extends "base.html" %}
{% block home %}

<body>

<img class="center-news" src="/static/img/news.jpg" alt="Lab News" style="max-height: 40%; max-width: 40%;"/>

<br />
<br />
<div class="cv3-envaleur">
<h2 style="text-align:center;font-family:Helvetica; font-color:black;"><span>Lab News</span></h2><br />
</div>
<div class="Newsprojects">

<div id="project-3">
<div class="news-left">
<h3> June 2019</h3>
</div>

<div class="news-center">
<ul>
   <li>Successful in applying for funding from the Chan Zuckerberg Initiative to establish the  <a href="https://chanzuckerberg.com/science/programs-resources/humancellatlas/seednetworks/the-tendon-seed-network"/>Human Tendon seed network</a>,
   a collaboration between Oxford, Glasgow, Copenhagen and Zurich to spatially map tendon from different anatomical sites.</li>
   <li>tRNAnalysis <a href="http://biorxiv.org/cgi/content/short/655829v1?rss=1">bioRxiv paper</a> and software released. tRNAnalysis is a flexible pre-processing pipeline for data analysis of transfer RNA.</li>
</ul>

</div>
</div>


<div id="project-3">
<div class="news-left">
<h3> April 2019</h3>
</div>

<div class="news-center">
<ul>
   <li>Successful in applying for funding from the <a href="https://www.bcrt.org.uk/news/2019/april/exclusive-interview-with-dr-cribbs-and-dr-cottone">Bone Cancer Research Trust</a> to identify epigenetic targets for therapy in Chordoma bone cancer.</li>
</ul>

</div>
</div>

<br/>
<br/>
</div>


</body>
{% endblock %}