{% extends "base.html" %}
{% block home %}

<body>

<img class="center-science" src="/static/img/Science.png" alt="Science" style="max-height: 100%; max-width: 100%;"/>

<br />
<div class="Scieprojects">

<div id="project-1">

<div class="project-left">
<img src="/static/img/NKcells.jpg" style="width:70%;height:70%;border-radius: 5px">
</div>

<div class="project-right" >
<h2> Understanding the epigenetic pathways involved in Natural killer cell activation</h2>
<h3> Prof Udo Oppermann and Prof Sir Marc Feldmann</h3>
<h4>Botnar Research Centre, University of Oxford</h4>
<p> Natural Killer (NK) cells are innate lymphocytes, important in immune surveillance and elimination of stressed, transformed or virally infected cells and critically shape the inflammatory cytokine environment to interact with cells of the innate and adaptive immune system. This project was initiated during my postdoctoral work in the Oppermann and Feldmann laboratories. Using chemical screening, further validated by knockdown approaches, I have been working on identifying epigenetic pathways that are important in regulating NK cell inflammatory function in autoimmune diseases.</p>

</div>
</div>

<div id="project-2">

<div class="project-left">
<img src="/static/img/nri1713-f2.jpg" style="width:70%;height:70%;border-radius: 5px">
</div>

<div class="project-right">

<h2> B cell development in autoimmunity </h2>
<h3>Prof Richard  Cornall and Dr Consuelo Anzilotti</h3>
<h4>WIMM, University of Oxford</h4>
<p> I am working in collaboration with Prof Richard Cornall and Dr Consuelo Anzilotti to analyse transcriptome data of B cell development in autoimmunity</p>

</div>
</div>


<div id="project-3">

<div class="project-left">
<img src="/static/img/1200x900f.jpg" style="width:70%;height:70%;border-radius: 5px">
</div>

<div class="project-right">

<h2> Designing CRISPR Cas gRNA across splice junctions in the human genome</h2>
<h3>Dr Daniel Ebner and Dr Andrew Bassett</h3>
<h4>Target Drug Discovery Institute, University of Oxford</h4>
<p>The first project I was involved with during my training at CGAT was to identify and rank the effectiveness of designing gRNAs to splice regions in proteins across the genome. This project is a collaboration with Dr Daniel Ebner at the Target Drug Institute (TDI) in Oxford and has allowed me to develop skills in building relational databases and machine learning techniques. I have developed a website that allows users to search, identify and rank user relevant gRNAs for CRISPR knockout. This project should be completed towards the end of 2017.</p>

</div>
</div>

<div id="project-4">

<div class="project-left">
<img src="/static/img/F2large.jpg" style="width:70%;height:70%;border-radius: 5px">
</div>

<div class="project-right">

<h2> Multi-omic approach to identify new biomarkers in preeclampsia patients  </h2>
<h3>Dr Manu Vatish</h3>
<h4>Nuffield Department of Obstetrics and Gynaecology, University of Oxford</h4>
<p> I am working in collaboration with Prof Ian Sargent and Dr Manu Vatish at the University of Oxford (Gynaecology). We are using proteomics and transcriptomics to identify biomarkers that could be useful in the diagnostic of preeclampsia. Our focus is directed towards investigating the role of extracellular vesicles, which are secreted in large volumes during preeclampsia. Extracellular vesicles persist in the plasma of patients for extended periods, which makes them an attractive biomarker. The data have revealed a number of proteins, mRNA and miRNA species that are differentially expressed between the placenta tissue and placental derived extracellular vesicles in normal and preeclampsia patients. The next phase of the project is to validate these potential biomarkers in a large number of patients. I plan to employ machine-learning approaches to develop a diagnostic tool for accurately assessing patient disease development, ultimately leading to better treatment outcomes. </p>

</div>
</div>

<div id="project-5">

<div class="project-left">
<img src="/static/img/nri3384-f3.jpg" style="width:60%;height:60%;">
</div>

<div class="project-right">

<h2> Single cell analysis of gamma delta T cells within salmonella infected patients </h2>
<h3>Prof Alison Simmons</h3>
<h4>WIMM, University of Oxford</h4>
<p> This project is a collaboration with Prof Alison Simmons, University of Oxford (WIMM), using single cell transcriptomic approaches to identify T cell heterogeneity following salmonella infection in healthy individuals. This project has allowed me to apply multiple statistical approaches to model T cell heterogeneity using a combination of both Frequentist and Bayesian statistical approaches.</p>

</div>
</div>

<div id="project-6">

<div class="project-left">
<img src="/static/img/Dupuytren.jpg" style="width:60%;height:60%;">
</div>

<div class="project-right">

<h2> Investigating BET bromodomains in Dupytren’s disease </h2>
<h3>Dr Fiona McCann and Dr Lynn Williams</h3>
<h4>Kennedy Institute of Rheumatology, University of oxford</h4>
<p> I am working in collaboration with Dr Lynn Williams and Dr Fiona McCann at the Kennedy Institute of Rheumatology to analyse transcriptome data from patients with Dupytren’s disease.</p>

</div>
</div>

</div>
<br />
<br />
</body>
{% endblock %}